<div class='page-header'>
  <h1>Edit Event</h1>
</div>

<%= render 'form' %>

<%= link_to 'back', location_path(@location), class: 'btn btn-default' %>
<%= link_to 'delete', location_event_path(@location, @event), method: :delete, class: 'btn btn-danger' %>
